:root {
  --primary: #969604;
  --bg: rgb(218, 213, 213);
  --td: #535252;
  --bgn: rgb(198, 202, 198);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--bg);
  color: #1c1c1c;
  /* min-height: 6000px; */
}

/* animation */

.anime {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: 1s all ease;
}

.anime.active {
  transform: translateX(0);
  opacity: 1;
}

/* .anime {
  animation: lolo ease;
  animation-duration: 1s;
} */

@keyframes lolo {
  0% {
    opacity: 0;
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(1);
    opacity: 1;
  }
}
/* animation */

/* .bdn.gelap, */
#gelap {
  background-color: rgb(35, 34, 34);
  color: aliceblue;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 7%;
  background-color: rgba(218, 213, 213, 0.8);
  border-bottom: 1px solid var(--primary);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99999;
}

#gelapn {
  background-color: rgba(35, 34, 34, 0.8);
  color: aliceblue;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  font-style: italic;
  color: var(--td);
  /* mix-blend-mode: difference; */
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav a {
  font-size: 1rem;
  display: inline-block;
  color: rgb(105, 76, 76);
  margin: 0.5rem 1rem 0;
  /* mix-blend-mode: difference; */
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s ease-in-out;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.8);
}

.navbar .navbar-ekstra {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.navbar .navbar-ekstra a {
  color: var(--td);
}

.navbar .navbar-ekstra a:hover {
  color: var(--primary);
}

.sun {
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: flex-start;
  border: 1px solid rgba(234, 234, 234, 0.8);
  border-radius: 20px;
  background-color: rgba(234, 234, 234, 0.4);
}

#moon {
  justify-content: flex-end;
  background-color: rgba(31, 30, 30, 0.4);
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(48, 48, 48, 0.5);
  border-radius: 50%;
  padding: 0.2rem;
}

#mode-gelap {
  transition: 0.4s ease;
  display: none;
}

#mode-gelap1 {
  transition: 0.4s ease;
  display: block;
}

#mode-terang {
  transition: 0.4s ease;
  display: block;
}

#mode-terang1 {
  transition: 0.4s ease;
  display: none;
}

#hamburger-menu {
  display: none;
}

/* home */
.home {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(218, 213, 213, 1) 8%,
    rgba(218, 213, 213, 0) 25%
  );
}

.gelaph {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/bg2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.gelaph::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgb(35, 34, 34, 1) 8%,
    rgba(35, 34, 34, 0) 25%
  );
}

.teklen {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 1.4 20%;
  max-width: 35rem;
  /* flex-wrap: nowrap; */
}

.teklen h1 {
  padding-left: 5rem;
  font-size: 5em;
  line-height: 1.2;
  color: aqua;
  mix-blend-mode: difference;
}

.teklen h1 span {
  color: rgb(251, 253, 253);
}

.teklen h1 span2 {
  color: deeppink;
}

/* about */
.about,
.kontak,
.menu1 {
  padding: 8rem 7% 1.4rem;
}

.about {
  height: 100vh;
  padding-bottom: 60rem;
}

.about h2,
.kontak h2,
.menu1 h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
}

.about h2 span,
.kontak h2 span,
.lokasi h2 span,
.menu1 h2 span {
  color: var(--primary);
  /* mix-blend-mode: difference; */
}

.about .row {
  display: flex;
  font-size: 1.6rem;
  /* background-color: aqua; */
}

.about-img {
  display: flex;
  /* background-color: antiquewhite; */
  /* justify-content: center; */
  padding: 1rem 0;
  flex-wrap: wrap;
}

.about-img img {
  height: 400px;
  width: 400px;
  margin: 1rem;
}

.about .row .about-img .about-judulimg {
  margin: 0 1rem;
  /* display: flex; */
}

.about .row .about-img .about-judulimg p {
  display: flex;
  font-size: 1rem;
  margin-top: 1rem;
  max-width: 40rem;
}
/* menu */
.menu1 {
  min-height: 100vh;
}

.menu1 .row {
  font-size: 1.6rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
}

.menu1 .row .card-menu1 {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.menu1 .row .card-menu1 img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 1rem; */
}

.menu1 .row .card-menu1 h3 {
  position: relative;
  text-align: center;
  /* font-weight: 500; */
  font-family: "Share Tech Mono", monospace;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.menu1 .row .card-menu1 .idr {
  display: flex;
  justify-content: center;
  font-weight: 300;
  font-family: "Share Tech Mono", monospace;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: justify;
  margin-top: 1rem;
}

.menu1 .row .card-menu1 .varian {
  font-weight: 300;
  font-size: 1rem;
  text-align: center;
}

/* kontak section */

.kontak {
  height: 100vh;
}

.kontak h3 {
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
}

.kontak h3::after {
  content: "";
  transform: scaleX(0.5);
  border-bottom: 0.1px solid var(--primary);
  display: block;
}

.kontak .row {
  max-width: 50rem;
  margin: auto;
  display: grid;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2rem;
  background-color: antiquewhite;
  padding: 3rem;
}

.kontak .row .color-font {
  color: #1c1c1c;
  /* mix-blend-mode: difference; */
}

.kontak .row .kontak-icon {
  display: flex;
  padding: 0.5rem;
}

.kontak .row .kontak-icon img {
  margin: 0 1rem;
}

.kontak .row .kontak-icon .ig {
  display: grid;
  justify-content: center;
  margin: 0 1rem;
  margin-bottom: 0.5rem;
  color: rgb(0, 83, 83);
}

/* lokasi section */
.lokasi {
  /* display: grid; */
  justify-content: center;
  padding-top: 8rem;
  flex-wrap: wrap;
  margin-bottom: 3.9rem;
  height: 100vh;
}

.lokasi h2 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 0rem;
}

.lokasi .lokasi-p {
  margin: auto;
  max-width: 30rem;
  text-align: center;
  padding: 0;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.lokasi.row {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.lokasi .row .map {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* background-color: #000000; */
  width: 45rem;
  height: 25rem;
  flex-wrap: wrap;
}

.lokasi .row .map iframe {
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  width: 40rem;
  height: 20rem;
  flex-wrap: wrap;
}

.tombol-map {
  display: flex;
  justify-content: center;
}

.tombol-map a {
  width: 100px;
  color: antiquewhite;
  background-color: rgb(76, 79, 78);
  text-align: center;
}
/* footer */
footer {
  padding: 2rem 7%;
  flex-wrap: wrap;
  display: grid;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(57, 56, 56, 0.8);
  border-top: 1px solid var(--primary);
}

footer .sosmed {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

footer .sosmed a {
  padding: 0.2rem 1rem;
  color: beige;
}

footer .menu-footer {
  display: flex;
  justify-content: center;
}

footer .menu-footer a {
  color: azure;
  padding: 0 1rem;
}

footer .copy {
  display: flex;
  justify-content: center;
  color: aliceblue;
  padding: 1rem 1rem;
  font-weight: 100;
  font-size: 0.8rem;
  flex-direction: column;
  text-align: center;
}
footer .copy a {
  border-radius: 3px;
  padding: 2px 4px;
  text-decoration: none;
  color: aliceblue;
}
footer .copy a:hover {
  color: #d88585;
}

/* media queris */
/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet 768px*/
@media (max-width: 825px) {
  html {
    font-size: 62%;
  }

  #hamburger-menu {
    display: inline;
  }

  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--td);
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    display: block;
    color: var(--bg);
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about-img img {
    height: 80%;
    width: 80%;
  }

  .about-img {
    display: flex;
    /* background-color: antiquewhite; */
    justify-content: center;
    padding: 1rem 0;
    flex-wrap: wrap;
  }

  .about-img .about-judulimg {
    display: block;
    justify-content: center;
    text-align: center;
  }

  .kontak {
    /* padding-bottom: 100vh; */
  }

  .lokasi .row .map {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    /* background-color: #000080; */
    width: 100%;
    height: 45rem;
    flex-wrap: wrap;
  }

  .lokasi .row .map iframe {
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    width: 40rem;
    height: 40rem;
    flex-wrap: wrap;
  }

  .lokasi {
    /* margin-bottom: 100%; */
  }
}
/* mobile phone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
